.markdownText{
  text-align: left;
  margin: 0 55px;
}
.headerBarText2{
  user-select: none;
}
.headerBarText2:hover{
  cursor: pointer;
}

.contentBackgroundColumn{
    display:inline-flex;
  background-color: rgba(0, 0, 0,.25);
  flex-direction: column;
  align-self: center;
  justify-content: top;
  align-items: center;
  overflow-y: auto;
  position: center;
  margin-top: 120px;
  min-width: 850px;
  max-width: 850px;
  height: min-content;
  /* flex-basis: inherit; */
  text-align: left;
  
  border-radius: 10px;
}
img[alt=photo] { width: 65vw; text-align: center; max-width: 800px; }
@media screen and (max-width: 900px) {
    .contentBackgroundColumn{
      min-width: 90vw;
      max-width: 90vw;
    }
  }

